@media print {
	.layout__header,
	.layout__footer,
	.breadcrumbs,
	.layout__aside-item,
	.button{
		display: none;
	}
	#bx-panel-back{
		display: none !important;
	}
	#bx-panel{
		&.bx-panel-fixed{
			display: none !important;
			position: static !important;
		}
	}
	
	.header-print {
		display: block;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid #000;
		
		&:after {
			display: block;
			content: ' ';
			clear: both;
		}
		
		&__logo {
			float: left;
		}
		
		&__phone {
			float: right;
			font-size: 18px;
			
			a {
				text-decoration: none;
				color: #000;
			}
		}
	}
	.footer-print {
		display: block;
		padding-top: 20px;
		margin-top: 20px;
		border-top: 2px solid #000;
		
		&:before {
			display: block;
			content: ' ';
			clear: both;
		}
		
		&__left {
			float: left;
			
			.phone-wrap {
				a {
					color: #000;
					text-decoration: none;
					font-size: 14px;
				}
			}
			
			.footer-contacts-link {
				display: none;
			}
		}
		
		&__right {
			float: right;
			
			.footer-print__devs {
				span {
					font-weight: bold;
				}
			}
		}
	}
}

.header-print {
	display: none;
}
.footer-print {
	display: none;
}

.is-print-version {
	.layout__header,
	.layout__footer,
	.breadcrumbs,
	.layout__aside-item,
	.layout__small-col,
	.form-standart, 
	.catalog-compare-button,
	.catalog-favor-button,
	.tabs-block__tab-changers, 
	.product-detail__video, 
	//.photogallery-with-thumbs__thumbnails, 
	.button-buy,
	.button{
		display: none;
	}
	#bx-panel-back{
		display: none !important;
	}
	#bx-panel{
		&.bx-panel-fixed{
			display: none !important;
			position: static !important;
		}
	}

	.header-print {
		display: block;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 2px solid #000;
		
		&:after {
			display: block;
			content: ' ';
			clear: both;
		}
		
		&__logo {
			float: left;
		}
		
		&__phone {
			float: right;
			font-size: 18px;
			
			a {
				text-decoration: none;
				color: #000;
			}
		}
	}
	
	.layout__content{
		width: 100% !important;
	}
	
	.slick-arrow,
	.promo-slider__pagination {
		display: none !important;
	}
	
	/*.photogallery-with-thumbs__items,
	.photogallery-with-thumbs__item
	{
		width: auto !important;
	}*/
	
	
	
	.footer-print {
		display: block;
		padding-top: 20px;
		margin-top: 20px;
		border-top: 2px solid #000;
		
		&:before {
			display: block;
			content: ' ';
			clear: both;
		}
		
		&__left {
			float: left;
			
			.phone-wrap {
				a {
					color: #000;
					text-decoration: none;
					font-size: 14px;
				}
			}
			
			.footer-contacts-link {
				display: none;
			}
		}
		
		&__right {
			float: right;
			
			.footer-print__devs {
				span {
					font-weight: bold;
				}
			}
		}
	}
}