.footer-mobile {
	background: $color-bg-dark-header;
	padding: $mobile-outer-margin;
	color: #eeeeee;

	a {
		color: white;
	}

	&__sns,
	&__contacts,
	&__copyright,
	&__devs,
	&__agreement {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #777;
		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	&__agreement-link {
		display: block;
		text-align: center;
	}
	&__contacts {
		text-align: center;
	}
	&__contacts-link {
		font-size: 110%;
		font-weight: bold;
		margin-bottom: 15px;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__contacts.content-area a {
		text-decoration: none;
	}
	&__contacts-phone {
		font-size: 150%;
		@include margin(0.25);
	}
	&__callback,
	&__write-us {
		text-decoration: none;
		border-bottom: 1px dashed white;
		font-size: 90%;
	}

	&__sns {
		text-align: center;

		&-header {
			color: white;
			font-size: 110%;
			font-weight: bold;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		&-list {
			display: inline-block;
		}

		&-item {
			@include columnizer(3);
			margin-left: 3px;
			padding-left: 4px;
		}

		&-link {
			color: black;

			&.youtube {
				@include fa-icon($fa-var-youtube);
			}

			&.fb {
				@include fa-icon($fa-var-facebook-f);
			}

			&.twitter {
				@include fa-icon($fa-var-twitter);
			}

			&.insta {
				@include fa-icon($fa-var-instagram);
			}

			&.youtube,
			&.fb,
			&.twitter,
			&.insta { 
				display: inline-block;
				width: 100%;
				border-radius: 50%;
				background: #999999;
				padding: 1px;
				text-align:center;

				&:before {
					display: inline-block;
					vertical-align: middle;
					font-size: 1.3em;
					color: white;
					padding: 0.3em;
				}
			}
		}
	}	

}