.header {

	&__center {
		@extend .content-center;
		@extend .clearme;
		position: relative;
	}

	&__top,
	&__bottom {
		clear: both;
	}

	&__columns {
		@include columnizerParent();
	}

	&__top {
		margin-bottom: 10px;
		min-height: 40px;
		margin-top: 20px;
	}

	&__bottom {
		@include margin;
		
		.header__columns {
			background: #888;
			margin-left: 0;
		}
		
		.menu-top,
		.auth-link {
			float: left;
		}

		.menu-top {
			
			width: 100%;
			margin-left: 0;
			
			.menu-top__plate {
				min-height: 40px;
			}

			&__first-item{
				border: none;
			}
			
			&__first-link {
				padding: 10px 10px;
			} 

			&.is-i-state .menu-top__second-level {
				&.two-column {
					@include columnizer(6);
				}
				&.four-column {
					@include columnizer(3);
				}
				&.five-column {
					@include columnizer(12/5);
				}
			}

			&.is-z-state .menu-top__second-level {
				& .menu-top__second-item{
					&:nth-child(3n+1) {
						clear: none;
					}
				}

				&.two-column .menu-top__second-item{				
					@include columnizer(6);
					&:nth-child(2n+1) {
						clear: left;
					}
				}
				&.three-column .menu-top__second-item{
					@include columnizer(4);
					&:nth-child(3n+1) {
						clear: left;
					}
				}
				&.four-column .menu-top__second-item{
					@include columnizer(3);
					&:nth-child(4n+1) {
						clear: left;
					}
				}
				&.five-column .menu-top__second-item{
					@include columnizer(12/5);
					&:nth-child(5n+1) {
						clear: left;
					}
				}	
			}
		}
	}

	&__menu-list,
	&__personal {
		float: left;
		display: inline-block;

	}
	
	&__auth-and-compare {
		@include columnizer(2);
	}

	.auth-link {
		padding: 10px 0;
		&_item {
			margin-right: 1em;
		}
	}

	.search-title {
		
		float:none;
		
		&__title-holder {
			background: #888;
		}
		
		&__field {
			position: absolute;
			left: 2.5%;
			top: 0;
			bottom: 0;
			right: 0;
			background: #888;
			@include box-sizing;
			padding-top: 5px;
		}
		
		&__input {
			background: transparent;
			border: 0;
			border-bottom: 1px solid #fff;
			color: #fff;
		}
	}
	.search-title.is-hide-input
	{
		.search-title__field { 
			left: inherit;
			margin-right: 2.5%;
		}
	}
		

	&__personal {
		margin-left: 40px;
	}


	&__logo-block {
		@include columnizer(2);
		a.header__logo {
			clear: both;
			& img {
				display: block;
			}
		}
		.header__slogan {
			clear: both;
		}
	}

	&__contacts {
		@include columnizer(3);
		
		@include fa-icon($fa-var-phone);

		&:before {
			display: inline-block;
			padding: .5em;
			margin-right: 10px;
			border-radius: 50%;
			background: grey;
			vertical-align: top;
			font-size: 25/14*100%;
			color: white;
		}
	}
	
	&__contacts-block {
		display: inline-block;
	}
	
	&__callback {
		@include columnizer(2);
		a {
			display: block;
		}
	}

	&__buttons {
		@include columnizer(4 4 4.5);
		display: table;

		&-col {
			display: inline-block;//table-cell;
			vertical-align: top;
		}

		&-cell {
			padding: 10px 15px;
		}
	}

	&__phone,
	&__phone a {
		font-weight: bold;
		font-size: 1.3em;
		text-decoration: none;
	}

	&__basket {
		@include columnizer(3);
		float: right;
	}

	&__top-section {
		background-color: gray;
		@include clearfix();
	}

	&__bottom-section {
		@include clearfix();
	}

	&__cart {
		float: right;
		margin-top: 11px;
		padding-left: 10px;
		border-left: 1px dotted white;
	}

	&__enter {
		float: right;
		margin-top: 10px;
		margin-right: 15px;
	}

	&__menu {
		float: left;
		background-color: gray;
		@include clearfix();
	}

	&__catalog {
		float: right;
		margin-right: 45px;
	}

	&__search {
		float: right;
	}

	&__left {
		float: left;
		text-align: left;
	}

	&__right {
		text-align: right;
		float: right;
	}

	&__holder {
		float: left;
		margin-left: 20px;
	}

	&__slogan {
		float: left;
		max-width: 380px;
		font-size: 12px;
		width: 160px;
		text-align: center;
	}

	&__img {
		max-width: 100%;
		height: auto;
	}

	&__row {
		position: relative;
		display: block;
	}
	
	&__favorites {
		@include fa-icon($fa-var-star);
		&:before {
			display: inline-block;
			padding: .5em;
			margin-right: 10px;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			background: grey;
			vertical-align: middle;
			font-size: 100%;
			color: white;
		}
	}
}