.footer {
	background: #000000;
	@include clearfix;
	padding-top: 40px;
	padding-bottom: 20px;
	color: #eeeeee;
	a {
		color: white;
	}

	&__center {
		@extend .content-center;
	}

	&__top,
	&__bottom {
		margin: 0 50px;
	}

	&__top {
		position: relative;
	}

	&__menu,
	&__sns,
	&__contacts {
		margin-bottom: 30px;
	}

	&__company-name {
		font-size: 0.9em;
		font-weight: bold;
		text-transform: uppercase;
	}	

	&__contacts {
		@include columnizer(2);
		float: right;

		&-link-container {
			margin-bottom:20px;
		}
		&-phone,
		&-phone a {
			text-transform: uppercase;
			color: white;
			font-weight: bold; 
			margin-bottom:0px;
			text-decoration: none;
		}

		& .footer__callback,
		& .footer__write-us,
		& .footer__agreement-link {
			color: #999999;
			font-weight: normal;
			margin: 5px 0;
			font-size: 0.9em;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		&-link {
			text-transform: uppercase;
			text-decoration: none;
			color: white;
			font-size: 0.9em;
			font-weight: bold;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	&__callback-cont {
		a {
			display: block;
		}
	}

	&__sns {
		@include columnizer(2);
		float:right;

		&-header {
			color: white;
			font-size: 0.9em;
			font-weight: bold;
			margin-bottom: 15px;
			text-transform: uppercase;
		}

		&-list {
			display: inline-block;
		}

		&-item {
			@include columnizer(3);
			margin-left: 3px;
			padding-left: 4px;
		}

		&-link {
			color: black;

			&.youtube {
				@include fa-icon($fa-var-youtube);
			}

			&.fb {
				@include fa-icon($fa-var-facebook-f);
			}

			&.twitter {
				@include fa-icon($fa-var-twitter);
			}

			&.insta {
				@include fa-icon($fa-var-instagram);
			}

			&.youtube,
			&.fb,
			&.twitter,
			&.insta { 
				display: inline-block;
				width: 100%;
				border-radius: 50%;
				background: #999999;
				padding: 1px;
				text-align:center;

				&:before {
					display: inline-block;
					vertical-align: middle;
					font-size: 1.3em;
					color: white;
					padding: 0.3em;
				}
			}
		}
	}	

	&__bottom {
		clear: both;
		border-top: 1px solid white;
		font-size: 0.9em;
	}

	&__arrow-up{
		position: absolute;
		right: -50px;
		margin-top: -41px;
		background: #777;
		padding: 10px;
		top:50%;
		transform: rotate(-90deg);
		cursor: pointer;
		&-text{
			transform: rotateY(90deg);
			color: white;

			span{
				color: white;

			}
		}

		&-icon{
			@include fa-icon-is($fa-var-long-arrow-right);
			margin-left: 5px;
		}
	}

	&__copyright,
	&__devs {
		@include columnizer(3);
		margin:30px 0;
	}
	
	&__agreement {
		@include columnizer(6);
		margin:30px 0;
	}
	
	&__agreement-link {
		@include columnizer(3, 6);
	}

	&__copyright {
		margin-left: 0;
		
		& span {
			margin-left: 5px;

			&:first-child {
				margin-left: 0;
			}
		
			&.footer__year {
				color: white;
			}
			&.footer__company {
				color: white;
			}
			&.footer__rights {}
		}
	}

	&__devs {
		text-align: right;
		color: white;
		margin-right: 0;
		padding-right: 0;
		float: right;

		&-link {
			color: white;
			font-weight: bold;
			text-decoration:none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__modals-list{
		display: none;
	}

	&__left-holder {
		float: left;
		width: 200px;
		padding-top: 10px;
	}

	&__right-holder {
		float: right;
		width: 260px;
	}

	&__middle-holder {
		margin-left: 240px;
		margin-right: 280px;
	}

	&__border {
		border-top: 8px solid #f5f5f5;
		padding-top: 20px;
	}

	&__developer {
		margin-top: 20px;
		white-space: nowrap;
		text-align: right;
	}

	&__menu {
	}

	&__search {
		margin-bottom: 20px;
	}

	&__bottom-catalog-menu {
		@include columnizer(10);
	}

	&__bottom-right-info {
		@include columnizer(2);
		width: 16.6667%;
		margin-left: 0px;
	}
	
	&__seo-text {
		margin-top: 40px;
		
		&-col1,
		&-col2
		{
			@include columnizer(6);
			height: 100%;
		}
		&-col1
		{
			margin-left: 0;
		}
		&-body:after
		{
			content: " ";
			display: block;
			clear: both;
		}
	}
	
	@media #{$media-phone} {
		&__seo-text {
			&-col1 {
				@include columnizer(12);
			}
			&-col2 {
				@include columnizer(12);
				margin-top: 20px;
			}
		}
	}
}